{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the Sagar's Coding Blog !! Here is the blog to get information related to coding,technology like ML, AI,Deep Learning, Programming Languages and some cool tech posts </p>
            <p>Go Visit Us at our website<a href="/docs/4.3/examples/navbar-static/"> Site name </a>to check out more cool stuff beyond blogs</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Blog Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}